@font-face {
   font-family: 'blowbrush';
   font-display: swap;
   src: url('file:///C:/Users/Admin/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-09-15_103922/fonts/blowbrush/font.ttf');
}
